{% extends "base_new.html" %}

{% block content %}
<!-- Page Header -->
{% load static %}
<header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Django Blog</h1>
                    <span class="subheading">A Blog made with Django</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in post_list %}
            <div class="post-preview">
                <a href="{% url 'post_detail' post.slug  %}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.excerpt }}
                    </h3>
                </a>
                <p class="post-meta">Created by {{ post.author }} on {{ post.created_at }}</p>
            </div>
            <hr>
            {% endfor %}
            {% if is_paginated %}
            <div class="clearfix">
                {% if page_obj.has_previous %}
                <a class="btn btn-primary float-left" href="?page={{ page_obj.previous_page_number }}" class="page-link">&larr; Newer Posts</a>
                {% endif %}
                {% if page_obj.has_next %}
                <a class="btn btn-primary float-right" href="?page={{ page_obj.next_page_number }}" class="page-link">Older Posts &rarr;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}